html {
    min-height: 100vh;
}
body {
    text-align: center;
}

nav {
    margin: 5px;
}
    
section.points {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: center;
}
section.points button {
    font-family: 'Times New Roman', Times, serif;
    max-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px black;
    min-height: 30px;
    min-width: 200px;
    border-radius: 5px;
}
section.points button:hover {
    background-color: #555;
}
section.points.grid1c2r {
    grid-template-columns: 200px;
    grid-template-rows: 25px 30px;
}
section.points .row1 {
    border-bottom: 5px solid black;
}

.hidden {
    display: none !important;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.btn:hover {
    text-decoration: underline;
}

.maincolor {
    background-color: #333;
    color: white;
}
.maincolor:hover {
    background-color: #555;
}
.prescolor {
    background-color: #aaee46;
    color: black;
}
.prescolor:hover {
    background-color: #ccff79;
}
.boostcolor {
    background-color: #230faa;
    color: white;
}
.boostcolor:hover {
    background-color: #000088;
}
.ascendcolor {
    position: relative;
    background-color: red;
}
.ascendcolor::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
        circle,
        transparent 60%,
        rgb(255, 191, 0) 100%
    );
    border-radius: inherit;
}


.upgrades {
    display: flex;
    justify-content: center;
}
.upgradeheader {
    font-size: 100%;
}
.unbought {
    max-width: 150px;
    min-width: 150px;
    background-color: #999;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 80%;
    max-height: 200px;
}
.bought {
    max-width: 150px;
    background-color: green;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 70%;
    max-width: 150px;
    min-width: 150px;
    max-height: 200px;
}

.rebuyable {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 20px !important;
    max-width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    
}

.milestones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.milestoneheader {
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.milestonereq {
    font-size: 90%;
}
.unachieved {
    max-width: 100vh;
    min-width: 500px;
    background-color: #999;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 120%;
}
.achieved {
    max-width: 100vh;
    min-width: 500px;
    background-color: green;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 90%;
}

.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}
.row1 {
    grid-row: 1;
}
.row2 {
    grid-row: 2;
}
.row3 {
    grid-row: 3;
}
